@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --c-revenue: #134417;
    --c-expenditure: #c00000;
    --c-edit: #007b8b;
    --c-bg-main: #0c0c0c;
    --c-white: #fff;
    --c-black: #000;
    --c-black-gray: #1414149d;
    --c-black-hover: #000000;
    --c-gray: #f1f1f1;
    --c-bg-notification: #140a0a49;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    color: var(--c-white);
    background-color: #080808;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.logo a {
    text-decoration: none;
    color: var(--c-white);
    padding: 10px;
}

.links {
    display: flex;
}

.links a {
    color: var(--c-white);
    text-decoration: none;
    padding: 5px;
}

.links a i {
    display: flex;
    justify-content: center;
    font-size: .8em;
}

.links a li {
    list-style: none;
}

.links a li p {
    font-size: .7em;
}


/* balance */

.container {
    background-color: var(--c-black-gray);
    border-radius: 0 0 20px 20px;
    width: 600px;
}

.values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.values h3 {
    padding: 10px;
}


.revenue-expenditure {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 20px;
}

.balance-title {
    font-size: 1.2em;
}

.revenue-title {
    color: var(--c-revenue);
    font-size: .9em;
}

.expenditure-title {
    color: var(--c-expenditure);
    font-size: .9em;
}

/* pendency */

.container-pendency {
    width: 400px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#show-pendencys {
    margin-top: 10px;
    margin-bottom: 70px;
}

#show-pendencys h3 {
    margin-top: 10px;
}

.text {
    color: var(--c-white);
}

.container-pendency .link-revenues,     
.container-pendency .link-expenditures {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--c-black-gray);
    color: var(--c-white);
    transition: .8s;
    margin: 3px;
    cursor: pointer;
}

.container-pendency .link-revenues:hover,
.container-pendency .link-expenditures:hover {
    background-color: var(--c-black-hover);
}

.container-pendency .link-revenues {
    animation: slideXLeft .8s;
}

.container-pendency .link-revenues:active {
    transform: scale(1.1);
}

.container-pendency .link-expenditures {
    animation: slideXRigth .8s;
}

.container-pendency .link-revenues h3,
.container-pendency .link-expenditures h3 {
    max-width: 100px;
    padding-bottom: 10px;
    font-size: .8em;
}

.container-pendency .link-revenues h3 {
    color: var(--c-revenue);
}

.container-pendency .link-expenditures h3 {
    color: var(--c-expenditure);
}

.container-pendency a h3 {
    font-size: .8em;
}

.many {
    display: flex;
    justify-content: space-around;
}

.many-revenues, .many-expenditures {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.many-revenues {
    background-color: var(--c-revenue);
}

.many-expenditures {
    background-color: var(--c-expenditure);
}

/* add transactions */
.cad-transations {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cad-transations h3 {
    padding: 15px;
}

.type {
    width: 300px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
}

.show {
    visibility: visible;
    animation: slideY .8s;
}

.inputs {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs .input-home {
    padding: 8px;
    margin: 0 8px 8px;
    border-radius: 4px;
    border: 0;
    color: var(--c-white);
    background-color: var(--c-black-gray);
    width: 220px;
    height: 32px;
    transition: .5s;
}

.inputs .input-home:hover {
    background-color: var(--c-bg-notification);
}

.inputs .input-home[type="date"] {
    color: var(--c-gray);
}

.checkbox {
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.switch, .switch-solve {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.switch .switch-wrapper {
    display: inline-block;
    width: 55px;
    height: 24px;
    position: relative;
}

.switch .switch-wrapper .switch-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: var(--c-black-gray);
}

.switch .switch-wrapper .switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .switch-wrapper .switch-btn::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    border-radius: 50%;
    transition: .4s all ease;   
    background-color: var(--c-white);
}

.switch .switch-wrapper .switch-input:checked + .switch-btn{
    background-color: var(--c-revenue);
}

.switch .switch-wrapper .switch-input:checked + .switch-btn::before {
    left: 23px;
}

.checkbox span {
    margin: 0 5px;
}

.select {
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: var(--c-white);
    padding: 0 16px;
}

.select option {
    cursor: pointer;
    color: var(--c-black-hover); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: var(--c-white);
    background-color: var(--c-edit);
    padding: 5px;
    margin: 8px;
    width: 110px;
    border-radius: 4px;
    border: 0;
    transition: .5s;
    transform: scale(1);
    font-size: 1em;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.revenue-btn {
    background-color: var(--c-revenue);
}

.expenditure-btn {
    background-color: var(--c-expenditure);
}

.hidden {
    display: none;
}

@keyframes slideY {
    from{
        transform: translateY(90px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slideXLeft {
    from{
        transform: translateX(-90px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes slideXRigth {
    from{
        transform: translateX(90px);
    }
    to{
        transform: translateX(0px);
    }
}

@media (max-width: 600px) {

    .links a li p {
        display: none;
    }

    .links a li {
        padding: 0 15px;
        font-size: 1.5em;
    }

    .container {
        width: 95%;
    }

    .container-pendency {
        width: 330px;
    }

    .cad-transations {
        max-width: 90%;
    }

    .inputs {
        width: 99.9%;
    }

    .inputs input {
        display: flex;
        width: 300px;
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .alert .bodyLi {
        width: 95%;
    }

}

@media (max-width: 500px) {

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        width: 100%;
        background-color: var(--c-black-gray);
    }
    .links {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #0000009d;
        z-index: 1;
    }
    
    .cad-transations {
        margin-bottom: 70px;
    }

    .cad-transations {
        margin-bottom: 70px;
    }
}

@media (max-width: 400px) {

    .container-pendency {
        width: 310px;
    }

    .inputs input {
        margin-bottom: 8;
    }
}

@media (max-width: 280px) {
    .logo {
        font-size: 1em;
    }

    .links {
        font-size: .8em;
    }

    .container-pendency {
        width: 280px;
    }
}