.container-settings {
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-settings h2 {
    margin-left: 10px;
}

.container-settings ul {
    width: 800px;
}

.container-settings ul li {
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    list-style: none;
    transition: .5s;
    background-color: var(--color-black-2);
}

.container-settings ul li:hover {
    background-color: var(--color-black-3);
}

.div-clear-all {
    position: absolute;
    left: 20%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 15px;
    color: var(--color-font-1);
    background-color: var(--color-black-3);
    animation: slideY .8s;
}

.div-clear-all {
    width: 60%;
}

.div-clear-all .alertP {
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

@keyframes slideY {
    from{
        transform: translateY(120px);
    }
    to {
        transform: translateY(0px);
    }
}

@media (max-width: 900px) {
    .container-settings ul {
        width: 99%;
    }
}