.container-transactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transation-li {
    list-style: none;
    width: 437px;
    display: grid;
    grid-template-columns: 115px 130px 90px 30px 30px 30px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

.delete, .solve, .edit {
    padding: 7px;
    border-radius: 4px;
    border: 0;
    margin-top: -9px;
    margin-bottom: -9px;
    margin-left: 4px;
    color: #fff;
}

.delete {
    background-color: rgb(224, 0, 0);
}

.solve {
    background-color: #02c4a3;
}

.edit {
    background-color: rgb(0, 34, 187);
}

#form-date {
    padding: 2px;
    margin: 15px 0;
    border-radius: 4px;
}

.select {
    padding: 4px;
    border: 0;
    border-radius: 4px;
    margin:  0 4px;
    background-color: #fff;
    transition: .5s;
}

.select:hover {
    background-color: #02c4a4e0;
}

@media (max-width: 600px) {
    .transation-li {
        width: 350px;
        display: grid;
        grid-template-columns: 85px 93px 85px 25px 25px 25px;
        font-size: .9em;
    }

    .delete, .solve, .edit {
        margin-top: -5px;
        margin-bottom: -5px;
        display: flex;
        justify-content: center;
    }
}