:root {
    --c-main: #00c0a0;
    --c-revenue: #2ccf3a;
    --c-expenditure: #ca0000;
    --c-edit: #01a2b8;
    --c-white: #fff;
    --c-black: #000;
    --c-black-hover: #1b1b1b;
    --c-black-transaparent: #0000009d;
    --c-gray: #f1f1f1;
    --c-bg-notification: #9b9a9a49;
}

.container-transactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-info-transactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius:  0 0 20px 20px;
    background-color: var(--c-black-transaparent);
}

.div-month {
    display: flex;
    padding: 10px;
}

.div-month h2 {
    font-size: 1em;
    width: 100px;
    padding: 5px;
    text-align: center;
}

.div-month button {
    background-color: transparent;
    border: 0;
    color: var(--c-main);
    cursor: pointer;
    font-size: 1.2em;
}

.balance-month {
    width: 600px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#select-type {
    background-color: var(--c-black-transaparent);
    color: var(--c-white);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: .5s;
}

#select-type:hover {
    background-color: var(--c-black-hover);
}

.balance-month p {
    font-size: .8em;
}

.div-balance {
    width: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-balance i {
    font-size: 1.3em;
}

[day] {
    margin-top: 20px;
}

.transation-li {
    list-style: none;
    background-color: var(--c-black-transaparent);
    width: 450px;
    display: grid;
    grid-template-columns: 100px 150px 100px 30px 30px 30px;
    padding: 7px;
    margin: 8px 0;
    border-radius: 4px;
}

.transation-li span {
    display: flex;
    align-items: center;
}

.value-revenue {
    color: var(--c-revenue);
}

.value-expediture {
    color: var(--c-expenditure);
}

.transation-li button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit, .delete, .solve, .no-solve {
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #a8a8a8;
    margin: 2px;
    color: var(--c-white);
    cursor: pointer;
    transition: .5s;
}

.edit:hover, .delete:hover, .solve:hover, .no-solve:hover {
    transform: scale(1.1);
}

.edit {
    background-color: var(--c-edit);
}

.delete {
    background-color: var(--c-expenditure);
}

.solve {
    display: flex;
    justify-content: center;
    background-color: var(--c-gray);
}

.solve .fa-circle-check {
    color: var(--c-revenue);
}

.solve .fa-xmark {
    color: var(--c-expenditure);
}

.solve {
    color: var(--c-revenue);
}

#form-date {
    padding: 2px;
    margin: 15px 0;
    border-radius: 4px;
}

.border-expenditure {
    border: 1px solid var(--c-expenditure);
    /* border-bottom: 2px solid rgb(224, 0, 0); */
}

.border-revenue {
    border: 1px solid var(--c-revenue);
}

.border-transaction {
    border: 1px solid var(--c-white);
}

.div-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--c-bg-notification);
}

.div-notification, .div-edition {
    color: var(--c-white);
    text-shadow: 2px 1px 5px var(--c-black);
    position: absolute;
    left: 20%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 5px;
    border: 5px solid var(--c-gray);
    animation: slideY .8s;
}

.div-notification {
    width: 60%;
    height: 30%;
    background-color: var(--c-expenditure);
}

.div-notification h2 {
    padding: 5px;
}

.div-btn {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.btn-notification {
    min-width: 100px;
    color: var(--c-black);
    border: 0;
    padding: 10px;
    border-radius: 4px;
    transition: .5s;
}

.div-btn .btn-notification {
    margin: 5px;
}

.div-edition {
    width: 60%;
    height: 50%;
    background-color: var(--c-edit);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-inputs {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
    place-items: center;
}

.div-inputs input {
    padding: 5px;
    border-radius: 4px;
    border: 0;
}

.div-inputs h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.i-value {
    grid-column-start: 1;
    grid-column-end: 3;
}

.i-value-2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.i-value-3 {
    transition: .8s;
}

.i-value-3:hover {
    transform: scale(1.1);
}

.div-check {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-check h3 {
    margin: 0 6px;
}

.div-inputs input {
    width: 99.9%;
    height: 30px;
}

.div-inputs button {
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-inputs button:hover {
    transform: scale(1.1);
}

.revenue {
    color: var(--c-revenue);
}

.expenditure {
    color: var(--c-expenditure);
}

@media (max-width: 580px) {

    .transation-li {
        width: 99.8%;
        display: grid;
        grid-template-columns: 70px 104px 75px 30px 30px 30px;
        margin: 5px 0;
        border-radius: 4px;
        background-color: #00000081;
    }

    .transation-li span {
        font-size: .8em;
        display: flex;
        align-items: center;
    }

    .balance-month {
        width: 350px;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .div-notification {
        left: 10%;
        top: 20%;
        width: 80%;
        height: 45%;
        text-align: center;
    }

    .div-edition {
        left: 10%;
        top: 20%;
        width: 80%;
        height: 55%;
        text-align: center;
    }

    .div-notification h2 {
        font-size: 1.2em;
    }

    .div-btn {
        min-width: 130px;
        display: flex;
        justify-content: space-around;
        padding: 5px;
    }

    .div-inputs {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 5px;
        column-gap: 10px;
    }

    .div-inputs h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .i-value {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .i-value-2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .div-check {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-inputs input {
        width: 99%;
    }

    .div-inputs button {
        width: 120px;
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width: 500px) {
    .container-transactions {
        margin-bottom: 70px;
    }
}

@media (max-width: 300px) {

    .transation-li {
        width: 99.8%;
        display: grid;
        grid-template-columns: 55px 100px 55px 18px 18px 18px;
        margin: 5px 0;
        border-radius: 4px;
        background-color: #00000081;
    }

    .transation-li span {
        font-size: .8em;
    }

    /* .transation-li {
        width: 99.8%;
        display: grid;
        grid-template-columns: 70px 104px 75px 30px 30px 30px;
        margin: 5px 0;
        border-radius: 4px;
        background-color: #00000081;
    } */

    .balance-month {
        width: 90%;
        font-size: .9em;
    }

    .div-notification, .div-edition {
        height: 55%;
    }
    
    .div-inputs {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 30px 30px 30px;
        row-gap: 5px;
        column-gap: 0;
        text-align: center;
    }

    .div-inputs h2 {
        grid-column-start: 1;

    }

    .i-value {
        grid-column-start: 1;

    }

    .i-value-2 {
        grid-column-start: 1;
    }

    .i-value-3 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .div-check {
        grid-column-start: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@keyframes slideY {
    from{
        transform: translateY(90px);
    }
    to {
        transform: translateY(0px);
    }
}